<div>
	{{#if endpoint_id}}
		<div class="row" id="row_endpoint_{{endpoint_id}}" data-id="{{endpoint_id}}" data-type="{{endpoint_type}}">
			<div class="column first">
				{{#compare endpoint_type "===" "user"}}
				    <i class="fa fa-user"></i>
				{{else}}
				    <i class="fa fa-fax"></i>
                {{/compare}}
				{{endpoint_name}}
			</div>
			<div class="column second">
				<a class="action_endpoint delete" data-id="{{endpoint_id}}">
					<i class="fa fa-trash"></i>
				</a>
			</div>
	{{else}}
		<div class="row" id="row_no_data">
			<div class="column merged">{{ @root.i18n.callflows.groups.there_are_currently_no_endpoint }}</div>
	{{/if}}
		<div class="clear"/>
	</div>
</div>
