<div class="dialog_popup_new add_number_popup">
	<form class="form-inline callflows-form">
		<div class="popup_field">
			<label class="form-label-wrapper">
				<input type="radio" id="number_type_1" name="number_type" value="your_numbers" checked="checked" />
				{{ i18n.oldCallflows.available_numbers }}
			</label>

			<div class="js-list-numbers-content js-add-number-content form-field-wrapper">
				<select id="list_numbers">
					{{#each phoneNumbers}}
					<option value="{{ this.phoneNumber }}">{{ formatPhoneNumber this.phoneNumber }}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="popup_field">
			<label class="form-label-wrapper">
				<input type="radio" id="number_type_2" name="number_type" value="extension" />
				{{ i18n.oldCallflows.extension }}
			</label>

			<div class="js-extensions-content js-add-number-content form-field-wrapper">
				<input id="add_number_text" placeholder="2001" type="text" name="number"/>
				<a href="javascript:void(0);" class="number-selection-sidelink search-extension-link">{{ i18n.callflows.findExtension }}</a>
			</div>
		</div>

		<div class="popup_field">
			<label class="form-label-wrapper">
				<input type="radio" id="number_type_3" name="number_type" value="pattern" />
				{{ i18n.callflows.pattern }}
			</label>
			<div class="js-pattern-content js-add-number-content form-field-wrapper">
				<input id="add_pattern_text" placeholder="*55(\\d+)" type="text" name="pattern"/>
			</div>
		</div>

		<div class="js-message-container callflows-message-container"></div>

		<div class="buttons">
			<button class="monster-button monster-button-primary add_number">
				{{ i18n.oldCallflows.add }}
			</button>
		</div>
	</form>
</div>
