<div class="dialog_popup callflows-port">
	<h1>{{ i18n.oldCallflows.check_cid }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="regex_input">{{ i18n.oldCallflows.regex }} </label>
				<input type="text" id="regex_input" class="medium" value="{{data_check_cid.regex}}"/>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{i18n.save}}</button>
	</div>
</div>
