<div class="node-options">
	<div id="{{ node.id }}" class="delete"/>
	<div class="module">
		<div class="div_icon">
			<i class="fa fa-{{ callflow.icon }}"></i>
			<span class="module_name">{{ callflow.name }}</span>
		</div>
		{{#compare callflow.name '===' "Callflow"}}
			<div id="{{ node.data.data.id }}" class="details jump">
				<a class="inline_action" data-action="edit" href="#">{{ node.caption }}</a>
			</div>
		{{else}}
			<div class="details">{{ node.caption }}</div>
		{{/compare}}
	</div>
	<div class="clear"></div>
</div>
