<div class="dialog_popup">
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field clear">
				<label for="branch-bnumber-key">
					{{ i18n.callflows.branch_bnumber.menu_option }}
				</label>
				<div class="field_wrapper">
					<input name="menu_option" type="text" value="{{ menuOption }}" id="branch-bnumber-key"/>
				</div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button class="js-save monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
