<div class="dialog_popup callflows-port checkcid-warning-dialog js-checkcid-warning-dialog">
	{{#monsterPanelText i18n.callflows.check_cid.warning_dialog.change_mode_warning 'warning' 'fill-width'}}
		{{{ i18n.callflows.check_cid.warning_dialog.change_mode_warning_message }}}
	{{/monsterPanelText}}
	<div class="buttons-center">
		<button class="monster-button monster-button-danger js-remove-all-children">
			{{{ i18n.callflows.check_cid.warning_dialog.remove_all_children }}}
		</button>
		<button class="monster-button monster-button-primary js-change-later">
			{{{ i18n.callflows.check_cid.warning_dialog.change_children_later }}}
		</button>
	</div>
	<div class="buttons-center">
		<button class="monster-button monster-button-secondary js-cancel">
			{{{ i18n.callflows.check_cid.warning_dialog.cancel }}}
		</button>
	</div>
</div>
